@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();

    // Явно создаем список, игнорируя LocOptions
    var cultureItems = new List<SelectListItem>
    {
        new SelectListItem { Value = "en", Text = "English" },
        new SelectListItem { Value = "ru", Text = "Русский" }
    };
}

<form asp-controller="Home" asp-action="SetLanguage"
      asp-route-returnUrl="@Context.Request.Path"
      method="post" class="form-horizontal d-inline-block">
    <div class="input-group">
        <span class="input-group-text">
            <i class="fas fa-language me-1"></i>@Localizer["Language"]
        </span>
        <select name="culture" onchange="this.form.submit();"
                asp-for="@requestCulture.RequestCulture.UICulture.Name"
                asp-items="cultureItems"
                class="form-select" style="width: auto;">
        </select>
    </div>
</form>
